@model IEnumerable<ProtoDEV___Proyecto_Programacion.Models.Producto>

@{
    ViewData["Title"] = "Index";
}


<h1>Catálogo de Productos</h1>

<div class="row">
    @foreach (var producto in Model)
    {
            <div class="col-3">
                <div class="card my-2 store-card custom-bg-color">
                @try
                {
                            <img src="@Url.Content(producto.imagenURL)" class="card-img-top card-img-custom" alt="@producto.nombre"> 
                }
                catch (Exception)
                {
                            <img src="@Url.Content("images/imagen_no_disponible.jpg")" class="card-img-top card-img-custom" alt="Imagen no disponible"> 
                }
                    <div class="card-body text-center">
                        <a class="a-cleanup" asp-controller="Tiendas" asp-action="Detalles" asp-route-id="@producto.id">
                            <h5 class="card-title text-center">@producto.nombre</h5>
                            <p class="card-text text-center">Fabricante: @producto.fabricante</p>
                            <p class="card-text text-center">SKU: @producto.SKU</p>
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text"><strong>PVP:</strong> @producto.precioVenta.ToString("c")</p>
                        <a asp-controller="Tiendas" asp-action="Detalles" asp-route-id="@producto.id" class="btn btn-success">
                            <i class="bi bi-cart3"></i> Agregar al Carrito
                        </a>
                    </div>
                </div>
            </div>
    }
</div>